{% extends 'base.html.twig' %}

{% block title %}Change Subscription{% endblock %}

{% block body %}
<div class="container">
    <h1>Change Subscription</h1>
    <p>Subscription management page.</p>
</div>
{% endblock %}
