{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
<div class="row align-items-center justify-content-center" style="min-height: 50vh;">
    <div class="col-md-6 text-center">
        <i class="bi bi-x-circle-fill text-danger" style="font-size: 5rem;"></i>
        <h1 class="mt-4">Paiement Annulé</h1>
        <p class="lead mt-3">
            Vous avez annulé la procédure de paiement. Votre moyen de paiement n'a pas été débité.
        </p>
        <div class="mt-4">
            <a href="{{ path('app_subscription_change') }}" class="btn btn-primary btn-lg">Réessayer</a>
            <a href="{{ path('app_pdf_dashboard') }}" class="btn btn-outline-secondary btn-lg ms-3">Retour</a>
        </div>
    </div>
</div>
{% endblock %}
