{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
<div class="container">
    <h1>Generation History</h1>
    <p>History of generated PDFs will appear here.</p>
</div>
{% endblock %}
